.body {
  height: 80%;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.group_quantity {
  margin-right: 2em;
}

.quantity {
  display: flex;
  width: 2em;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}

.button {
  height: fit-content;
}

.submit {
  width: 17em;
  height: fit-content;
}

.submit_text {
  display: flex;
  justify-content: space-between;
}
